<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} </title>
    <style>
        h1 {
            text-align: center;
            background-color: black;
            color: azure;
        }
    </style>
</head>

<body>
    <h1>{{h1}}</h1>
    <!-- <p>
        {{clist}}
    </p> -->
    {% for n in clist %}
    <div>{{forloop.counter}} {{n}}</div>
    {% endfor %}
    <hr>
    <table border="1px solid black " cellpadding="10">
        <tr>
            <th>Name</th>
            <th>Id</th>
        </tr>
        {% for i in student %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.id}}</td>

        </tr>
        {% endfor %}
    </table>
    
    {% if numbers|length > 0 %}
        {% for i in numbers %}

            {% if i > 20 %}
              <div>{{i}}</div>
            {% endif %}
        {% endfor %}
    {% else %}
          no data found
    {% endif %}      
</body>

</html>