{% extends "base.html" %}
{% block content %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact-us</title>
</head>
<body> -->
    <main class="container">
        <div class="bg-body-tertiary p-5 rounded">
          <h1>Thank you,For visiting our website, and your sum={{output}}</h1>
          <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
          <a class="btn btn-lg btn-outline-primary" href="mailto:#" role="button">dhavalpbc9@gmail.com</a>
          <a  class="btn btn-lg btn-outline-success" href="tel:#" role="button">+91 9974555909</a>
          
        </div>
      </main>
{% endblock %}

